@{
    ViewBag.Title = "Manage Employee";
}

<div class="jumbotron">
<p>Welcome to:</p>
    Manage Employee.<br /> As you can see, you can "List", "Insert" and "Delete" informations about Employees!
    <br />
    <br />
    Enjoy!
</div>